/*slider imagenes*/
.carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.destinos{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #0586c8;
}

#carouselExampleControls{
    height: 270px;
    width: 90%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.carousel-control-prev-icon{
    margin-left: -210px;
    filter: opacity(0.4) drop-shadow(0 0 0 green);
}
.carousel-control-next-icon{
    margin-right: -210px;
    filter: opacity(0.4) drop-shadow(0 0 0 green);
}
.tarjetas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    height: 270px;
    margin-right: 50px;
}

.card-1{
    position: relative;
    background-color: #2f2f2f;
    border-radius: 20px;
    width: 190px;
    height: 240px;
    box-shadow: 0px 5px 10px rgba(5,155,60, 0.3);
    overflow: hidden;
    
    
}
 .card-1 img{
    width: 100%;
    height: 100%;
 }
.overlay{
    position: absolute;
    top: 18px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size:x-large;
    font-family: 'Oswald', sans-serif;
}

.overlay-2{
    position: absolute;
    bottom: 18px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size:larger;
    font-family: 'Bebas Neue', sans-serif;
}

/*Pasas*/

.pasos{
    height: 300px;
    width: 100%;
    text-align: center;
}
 
.step-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left:150px ;
    margin-right:150px ;
}
.descripcion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 270px;
}

.descripcion p:nth-child(1){
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(5, 155, 60);
}

.descripcion p:nth-child(2){
    font-family: 'Oswald', sans-serif;
}
.iconos-pasos{
    height: 100px;
    width: 100px;
}
.iconos-pasos img{
    width: 100%;
    height: 100%;
}

/*Planes Antioquia*/
.antioquia{
    width: 100vw;
    height: 540px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planes-antioquia{
    width: 100vw;
    height: 540px;
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: repeat(2,270px);
}
.primero{
    grid-column: 1/span 5;
    grid-row: 1/span 2;
    object-fit: cover; 
    overflow: hidden;
}

.primero img{
    width: 100%;
    height: 540px;
    object-fit: fill;
}

.titulo-primero{
    grid-column: 1/span 5;
    grid-row: 1/span 2;
    color: white;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 65px;
}

.titulo-primero p:nth-child(1){
    font-size:45px;
}
.titulo-primero p:nth-child(2){
    font-size:25px;
}

.destinos-antioquia-1{
    grid-column: 2/span 1;
    grid-row: 2/span 1; 
}
.destinos-antioquia-2{
    grid-column: 3/span 1;
    grid-row: 2/span 1; 
}
.destinos-antioquia-3{
    grid-column: 4/span 1;
    grid-row: 2/span 1; 
}
.box-destinos-antioquia {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    padding-bottom: 10px;
    
}
.box-destinos-antioquia img{
    width: 80%;
    height:250px;   
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(255,255,255, 0.3);
}
.box-destinos-antioquia:hover img{
    transform: scale(1.1);
    transition: .5s;
    filter: opacity(0.6) drop-shadow(0 0 0 green);
}
.overlay-4{
    position: absolute;
    top: 70px;
    right: 20px;
    bottom: 0;
    left: 20px;
    color: white;
    font-weight: 500;
    font-size:15px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.overlay-4 div{
    text-align: center;
}
.overlay-4 a{
    text-decoration: none;
    color: white;
}
.box-destinos-antioquia:hover .overlay-4{
    opacity: 1;
}
.overlay-3{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 200px;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size:15px;
    font-family: 'Oswald', sans-serif;
    
}
.overlay-3 i{
    font-size: 20px;
}
.overlay-3 p{
    margin-bottom: 0;
}
