@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Contenedor - Encabezado */

  .header {
    background-color: rgba(255,255,255, 0.5);
    height: 70px;
    position: absolute;
    width: 100%;
    z-index: 1
  }
  
  /* Incio - Barra de navegación */
  
  .nav {
    justify-content: space-between;
    margin: 10 auto;
    margin-right: 40px;
  }
  
  .nav img {
    width: auto;
    height: 20%;
    margin-top: -5px;
  }

  .nav-link {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 70px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
  }
  
  .nav-menu-link {
    border-radius: 3px;
    margin-top: -5px;
  }
  
  .nav-menu-link:hover {
    background-color: #034574;
    transition: 0.5s;
  }
  
  /* Fin - Header */

  /* Inicio - slider imagenes */

  .viajes {
    width: 100%;
  }

  .viajes-box {
    width: 100%;
  }

  .bg-main1 {
    width: 100%;
    height: 250px;
  }

  .bg-main1 img {
    width: 100%;
    height: 1060px; 
  }

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 30px;
}

.destinos {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: black;

}

#carouselExampleControls {
  width: 80%;
  height: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.segundo{
  display: none;
}
.carousel-control-prev-icon {
  margin-left: -275px;
  /* filter: opacity(0.4) drop-shadow(0 0 0 green); */
}

.carousel-control-next-icon {
  margin-right: -275px;
  /* filter: opacity(0.4) drop-shadow(0 0 0 green); */
}

.tarjetas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  height: 300px;
  margin-right: 50px;
}

.card-1 {
  position: relative;
  background-color: #2f2f2f;
  border-radius: 20px;
  width: 190px;
  height: 240px;
  box-shadow: 0px 5px 10px rgba(5,155,60, 0.3);
  overflow: hidden;
  
}

.card-1 img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 18px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size:x-large;
  font-family: 'Oswald', sans-serif;
}

.overlay-2 {
  position: absolute;
  bottom: 18px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size:larger;
  font-family: 'Bebas Neue', sans-serif;
}

/* Inicio Pasos */

.pasos {
  height: 300px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.plan {
  grid-column: 1/span 5;
  grid-row: 1/span 2;
  object-fit: cover; 
  overflow: hidden;
}

.destinos {
  font-weight: bolder;
  font-size: 30px;
}
.destinos p{
  margin-bottom: 0;
}

.step-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left:150px ;
  margin-right:150px ;
}

.descripcion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 270px;
}

.descripcion p:nth-child(1) {
  font-family: 'Bebas Neue', sans-serif;
  color: rgb(5, 155, 60);
  font-weight: bolder;
}

.descripcion p:nth-child(2) {
  font-family: 'Oswald', sans-serif;
  font-weight:bold
}

.iconos-pasos {
  height: 100px;
  width: 100px;
}

.iconos-pasos img {
  width: 100%;
  height: 100%;
}

/* Fin Pasos */

/* Inicio Planes Antioquia */

.antioquia {
  width: auto;
  height: auto;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.antioquia-box{
  width: 100vw;
}

.planes-antioquia {
  width: 100%;
  height: -440px;
  display: grid;
  grid-template-columns: repeat(5,1fr) ;
  grid-template-rows: repeat(2,400px);
}

.primero {
  grid-column: 1/span 5;
  grid-row: 1/span 2;
  object-fit: cover; 
  overflow: hidden;
}

.primero img {
  width: 100%;
  height: 840px;
}

.titulo-primero {
  grid-column: 1/span 5;
  grid-row: 1/span 2;
  color: white;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 65px;
}

.titulo-primero p:nth-child(1) {
  font-size:45px;
}

.titulo-primero p:nth-child(2) {
  font-size:25px;
}

.destinos-antioquia-1 {
  grid-column: 1/span 5;
  grid-row: 2/span 1; 
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}


.box-destinos-antioquia {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height:100%;
  padding-bottom: 10px;
  
}

.box-destinos-antioquia img {
  width: 80%;
  height: 250px;   
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(255,255,255, 0.3);
}

.box-destinos-antioquia:hover img {
  transform: scale(1.1);
  transition: .5s;
  filter: opacity(0.6) drop-shadow(0 0 0 green);
}

.overlay-4 {
  position: absolute;
  top: 70px;
  right: 20px;
  bottom: 0;
  left: 20px;
  color: white;
  font-weight: 500;
  font-size:15px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.overlay-4 div {
  text-align: center;
}

.overlay-4 a {
  text-decoration: none;
  color: white;
}

.box-destinos-antioquia:hover .overlay-4 {
  opacity: 1;
}

.overlay-3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 200px;
  left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size:15px;
  font-family: 'Oswald', sans-serif;
  
}

.overlay-3 i {
  font-size: 20px;
}

.overlay-3 p {
  margin-bottom: 0;
}

@media screen and (max-width:1200px) {
  .card-1:nth-child(5){
    display:none;
  }
}
@media screen and (max-width:990px) {
  .card-1:nth-child(5){
    display:none;
  }
  .card-1:nth-child(4){
    display:none;
  }
}

@media screen and (max-width:770px) {
  .carrusel-primero{
    display: none;}
  .segundo{
    display:block;
  }
  .tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-destinos-antioquia {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 30%;
    height:90%;
    padding-bottom: 10px;
  }
  

}

@media screen and (max-width: 650px) {
  .planes-antioquia{
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 100% ;
      grid-template-rows: repeat(4,250px);
  }
  .primero{
      grid-column: 1/span 1;
      grid-row: 1/span 4;
      object-fit: cover; 
      overflow: hidden;
  }
  .primero img{
      width: auto;
      height: 100%;
      object-fit: fill;
  }
  .titulo-primero{
      grid-column: 100%;
      grid-row: 1/span 1;
      color: white;
  }
  /* error*/
  .destinos-antioquia-1{
      grid-column: 1/span 1;
      grid-row: 2/span 3;
      flex-wrap: wrap;
      overflow: hidden;
  }
  .box-destinos-antioquia {

      width: 65%;
      max-height:33%;     
      overflow: hidden;
      padding: 10px;
  }
  .box-destinos-antioquia img{
      height:100%;   
  }
  .overlay-4{
      right: 28px;
      left: 28px;
  }

}

/* Inicio - Pie de Pagina */

.pie-pagina {
    width: 100%;
    height: auto;
    background-color: #2AD7FE;
    margin-top: 0px;
}

.pie-pagina .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 80px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    
}

/* Fin - Pie de Pagina */